


.image-box img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: right 1s, bottom 1s ;
    animation: fadeIn;
}

.image-box:hover .back-img {
    bottom: 5px ;
    right: 10px;
}


.image-box:hover .profile-img {
    right: 10px ;
}